<h1>Account Page</h1>

<h2>Email: {{ user.email }}</h2>
<h2>Username: {{ user.username }}</h2>

<h2 *ngIf="user.email == 'a-user@mail.com'">Type: Super Admin</h2>

<h2 *ngIf="user.isGroupAdmin == true">
  Type: Group Admin
  <ul *ngFor="let group of groups">
    <li *ngIf="group.group_admin == user.username">
      {{ group.group_name }}
    </li>
  </ul>
</h2>
<h2 *ngIf="user.isGroupAdmin == false">Type: User</h2>
<h3></h3>

<a *ngIf="user.email == 'a-user@mail.com'" routerLink="/register"
  >Create a New User</a
>

<br />

<a *ngIf="user.email == 'a-user@mail.com'" routerLink="/remove_user"
  >Remove a User</a
>

<hr />

<br />
<a routerLink="/group">Groups List</a>
