<!-- <form class="form-inline">
  <input
    class="form-control mr-sm-2"
    type="email"
    placeholder="Enter your email:"
    aria-label="email"
    name="email"
    [(ngModel)]="email"
  />
  <input
    class="form-control mr-sm-2"
    type="password"
    aria-label="password"
    name="password"
    [(ngModel)]="password"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Log In
  </button>
</form> -->

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form>
                <div class="form-label-group">
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    name="email"
                    [(ngModel)]="email"
                    required
                    autofocus
                  />
                  <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <button
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit"
                  (click)="logIn()"
                >
                  Sign in
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
