<h1>Groups Page</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <form *ngIf="session.isGroupAdmin == true">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="groupname"
        placeholder="Enter new Group name"
        [(ngModel)]="groupname"
        autofocus
        required
      />

      <p>
        Choose Group Admin 1*:<select
          name="assist1"
          [(ngModel)]="assist1"
          required
        >
          <option *ngFor="let user of users" [ngValue]="user.username">{{
            user.username
          }}</option>
        </select>
      </p>

      <p>
        Choose Group Admin 2:<select name="assist2" [(ngModel)]="assist2">
          <option value=""></option>
          <option *ngFor="let user of users" [ngValue]="user.username">{{
            user.username
          }}</option>
        </select>
      </p>

      <input
        type="submit"
        class="fadeIn fourth"
        value="Create Group"
        (click)="createGroup(session.username)"
      />
    </form>
  </div>
</div>

<h2>List of Groups and Members</h2>

<ul>
  <li *ngFor="let group of groups">
    {{ group.group_name }}
    <button
      *ngIf="
        group.group_admin == session.username ||
        session.email == 'a-user@mail.com'
      "
      (click)="removeGroup(group.group_name)"
    >
      Remove {{ group.group_name }} group
    </button>
    <ol
      *ngIf="
        session.email == 'a-user@mail.com' ||
        group.group_admin == session.username ||
        group.group_assist_1 == session.username ||
        group.group_assist_2 == session.username ||
        group.members.indexOf(session.username) >= 1
      "
    >
      <li>Group Admin: {{ group.group_admin }}</li>
      <li>Group Assist 1: {{ group.group_assist_1 }}</li>
      <li>Group Assist 2: {{ group.group_assist_2 }}</li>

      <ol>
        <li *ngFor="let member of group.members">
          {{ member }}
          <button
            (click)="removeMember(member, group.group_name)"
            *ngIf="
              (group.group_admin == session.username ||
                group.group_assist_1 == session.username ||
                group.group_assist_2 == session.username ||
                session.email == 'a-user@mail.com') &&
              member !== session.username
            "
          >
            Remove {{ member }}
          </button>
        </li>
      </ol>
    </ol>

    <p
      *ngIf="
        group.group_admin == session.username ||
        group.group_assist_1 == session.username ||
        group.group_assist_2 == session.username ||
        session.email == 'a-user@mail.com'
      "
    >
      Add
      <select name="user" [(ngModel)]="selectedUser">
        <option *ngFor="let user of users" [ngValue]="user.username">{{
          user.username
        }}</option>
      </select>
      to {{ group.group_name }}
      <input
        [(ngModel)]="selectedGroup"
        name="selectedGroup"
        [value]="group.group_name"
        [value]="group.group_name"
        hidden
      />
      <!-- <select name="groupname" [(ngModel)]="selectedGroup">
        <option *ngFor="let group of groups" [ngValue]="group.group_name">{{
          group.group_name
        }}</option>
      </select> -->
      <button (click)="addMember(group.group_name)">Add</button>
    </p>

    <p>
      <input [(ngModel)]="channelName" name="channelName" type="input" />
      <button (click)="createChannel(group.group_name, session.username)">
        Create channel
      </button>
    </p>
  </li>
</ul>

<p></p>
